<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#333" />
    <title>ALFAIN || {{heading}}</title>
    <link rel="shortcut icon" type="image/png" href="/images/icons/icon-72x72.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/materialize.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/javascripts/jquery.js"></script>
  </head>
  <body>
    {{>nav}}
    <div >
       {{{body}}}
    </div>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
