<div class="row">
  <div class="col s12 m12 l3"></div>
  <div class="col s12 m12 l6">
    <form class="col s12" method="POST" action="/projects/newinvoice" enctype="multipart/form-data">
      <h6 class="center teal white-text p-1">ADD NEW INVOICE</h6>
      <p id="err_message" class="red-text center hide" style="font-size:x-large;"></p>
      <div class="row hide">
        <div class="input-field col s12">
          <input id="rfq_number" type="text" name="rfq_number" value="{{rfq_number}}">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Eg: INV-112" id="inv_number" type="text" name="inv_number"required>
          <label for="inv_number">Invoice Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
           <textarea id="inv_details" class="materialize-textarea" name="inv_details"></textarea>
          <label for="inv_details">Invoice Details</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <input type="text" class="datepicker" id="payment_due_date" name="payment_due_date">
          <label for="payment_due_date">Payment Due Date</label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>Upload Invoice</span>
            <input type="file" accept=".pdf, .jpeg" name="inv_document" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row right-align">
        <button class="btn waves-effect waves-light" type="submit" >Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
  <div class="col s12 m12 l3"></div>
</div>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({minDate:new Date()});
    $("#inv_number").focusout((e)=>{
      $.post( '/api/v1/projects/new_inv',{inv_number:$("#inv_number").val()}, function( data ) {
        if(data.message == "true"){
          $("#err_message").removeClass("hide").addClass("error_exist").html("Invoice Number exist");
        } else{
            $("#err_message").removeClass("error_exist").addClass("hide").html("");
        }
      });
    })
    $('form').submit(function(e) {
      if($("#err_message").hasClass("error_exist")){
        e.preventDefault();
      }
      if ($('#payment_due_date').val() == '') {
        $('#payment_due_date').addClass('invalid')
        e.preventDefault();
        return false;
      } else {
        $('#payment_due_date').removeClass('invalid')
        return true;
      }
    });
  });
</script>